<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="../static/css/grids.css" th:href="@{/css/grids.css}" rel="stylesheet"/>

    <title>Stream service</title>
</head>
<body class="bcg">

<div class="bcg">
    <h2 class="bigtitle">Stream service</h2>
    <div class="container">
        <form action="/auth/logout" method="POST">
            <button class="btn" type="submit">Logout</button>
        </form>
    </div>
    <h4 th:text="'user: ' + ${currentUser}">user: current_user</h4>
    <a href="/userspace">Моя музыка</a>
    <br>
    <br>
    <div id="content">
        <fieldset>
            <legend>Введите новое название трека</legend>
            <form action="#" method="POST"
                  name="rename-form"
                  th:action="@{position/rename/{newTrackName}(newTrackName=${thymData.getValue1()})}"
                  th:object="${thymData}">
                <input type="text" th:field="*{value1}"/>
                <br/>
                <br>
                <input type="submit" value="Принять" th:value="Принять"/>
            </form>
        </fieldset>
        <br/>
        <br>
        <h3 th:text="${mainPageMessage}"></h3>


<!--        <td>-->
<!--            <form th:method="get" method="get"-->
<!--                  th:action="@{playlist/rename/{playlistId}/{trackNumber}(trackNumber=${position.getPosition()})(playlist=${playlist.getId()})}">-->
<!--                <button type="submit" name="submit" value="value" class="link-button">RENAME</button>-->
<!--            </form>-->
<!--        </td>-->

    </div>
</div>

</body>
</html>
