<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Stream service</title>
</head>
<body class="bcg">

<div class="bcg">
    <h2 class="bigtitle">Stream service</h2>
    <div class="container">
        <form action="/auth/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </div>
    <h4 th:text="'user: ' + ${currentUser}">user: current_user</h4>
    <a href="/userspace">Моя музыка</a>
    <br>
    <br>
    <div id="content">
        <fieldset>
            <legend>Введите название композиции</legend>
            <form name="musicTrack" action="search" method="post">
                <input type="text" id="trackName" name="trackName"/><br/>
                <br>
                <input type="submit" value="Поиск"/>
            </form>
        </fieldset>
        <br/>
        <br>
        <h3 th:text="${mainPageMessage}"></h3>
        <table class="datatable">
<!--            <tr>-->
<!--                <th>№</th>-->
<!--                <th>Name</th>-->
<!--            </tr>-->
            <tr class="itemlist" th:each="musicTrack:${trackList}">
                <td th:text="${trackList.indexOf(musicTrack)+1}"></td>
                <td class="trackname" th:text="${musicTrack.getName()}"></td>
                <td>
                    <audio controls>
                        <source th:src="${musicTrack.getUrl()}" src="">
                        Тег audio не поддерживается вашим браузером. <a th:href="${musicTrack.getUrl()}">Скачайте музыку</a>
                    </audio>
                </td>
                <td>
<!--                    <a method="GET" th:href="@{playlist/addToLibrary/{trackNumber}(trackNumber=${trackList.indexOf(musicTrack)})}">ADD</a>-->
<!--                    <form method="POST" th:action="@{playlist/addToLibrary/{trackNumber}(trackNumber=${trackList.indexOf(musicTrack)})}">-->
                    <form method="POST" th:action="@{playlist/addToLibrary/{trackNumber}(trackNumber=${trackList.indexOf(musicTrack)})}">
                        <button type="submit" name="submit" value="value" class="link-button">ADD</button>
                    </form>
                </td>
<!--                <td><a href="#" th:href="${musicTrack.getUrl()}" th:download="${musicTrack.getUrl()}">ADD</a></td>-->
<!--                <td><a href="#" th:href="${musicTrack.getUrl()}" th:download="${musicTrack.getUrl()}">DOWNLOAD</a></td>-->
            </tr>
        </table>
    </div>
</div>

</body>
</html>
