<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <link href="../static/css/grids.css" th:href="@{/css/grids.css}" rel="stylesheet" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Stream service</title>
</head>

<body class="bcg">
    <div class="header">
        <div class="container">
            <div class="row">
                <h1 class="big-title col-12">Stream service</h1>
            </div>

            <div name="row-2" class="row">
                <div class="col-12 row">
                    <div>User:</div>
                    <div th:text="${currentUser}">current_user</div>
                    <div class="form">
                        <form action="/auth/logout" method="POST">
                            <button class="btn logout-btn" type="submit">Logout</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row row2">
                <div class="col-12 mediumpadding">
                    <a href="/search">Поиск музыки</a>
                </div>
            </div>

            <div class="row">
                <!-- <div class="col-7 col-md-12 col-sm-12"> -->
                    <table class="music-list__container">
                        <tr class="itemlist col-7 col-md-12 col-sm-12" th:each="position:${positions}">
                            <td th:text="${position.getPosition}+'.'">1.</td>
                            <td class="trackname" th:text="${position.getTitle()}">TRACK_TITLE</td>
                            <td>
                                <audio class="audio" controls>
                                    <source th:src="${position.getUrl()}" src="">
                                    Тег audio не поддерживается вашим браузером. <a
                                        th:href="${position.getUrl()}">Download</a>
                                </audio>
                            </td>
                            <td>
                                <form th:method="get" method="get"
                                    th:action="@{playlist/renamePage/{playlistId}/{position}/(playlistId=${playlist.getId()}, position=${position.getPosition()})}">
                                    <button class="btn-mini btn-rename list-btn" type="submit">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form th:method="get" method="get"
                                    th:action="@{playlist/deleteFromLibrary/{trackNumber}(trackNumber=${position.getPosition()})}">
                                    <button class="btn-mini btn-delete list-btn" type="submit">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </td>
                            <!--            <td><a href="#" th:href="${position.getUrl()}" th:download="${position.getUrl()}">DOWNLOAD</a></td>-->

                        </tr>
                    </table>
                <!-- </div> -->
            </div>
        </div>
    </div>
</body>

</html>