@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham-Bold.otf);
}

@font-face {
    font-family: Proxima;
    src: url(../fonts/proximanova-regular.otf);
}

:root {
    --blue-color: #4770FF;
    --blue-color-hover: #496bf3;
}

button {
    cursor: pointer;
}

.bigtitle {
    color: #376aff;
    font-size: 30px;
}

.bcg {
    background-color: #ffffff;
}

td.trackname {
    width: 500px;
    column-width: 500px;
    border: 5px;

}

.text-rotate {
    display: inline-block;
    transform: rotate(-45deg);
}

form {
    height: 0px;
    margin-bottom: 30px;
}

button {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

button.btn {
    color: #ffffff;
    background-color: var(--blue-color);
    border: solid 1px rgb(255, 255, 255);
    width: 80px;
    height: 30px;
    border-radius: 4px;
    font-weight: 400;
}

button.btn:hover {
    color: #ffffff;
    background-color: #496bf3;
    border: solid 1px rgb(255, 255, 255);
    width: 80px;
    height: 30px;
    border-radius: 4px;
    font-weight: 500;
}

button.btn-mini {
    color: #ffffff;
    font-size: 18px;
    background-color: var(--blue-color);
    border: solid 1px rgb(255, 255, 255);
    width: 38px;
    height: 38px;
    border-radius: 5px;
}

button.btn-mini:hover {
    color: #ffffff;
    background-color: var(--blue-color-hover);
    border: solid 1px rgb(255, 255, 255);
    width: 38px;
    height: 38px;
    border-radius: 5px;
}

button.btn-rename {
    padding-top: 2px;
}

audio {
    height: 30px;

}

.item {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 4px 4px 10px;
    flex-shrink: 0;
}

.big-title {
    margin: 30px 10px 10px 10px;
    padding: 10px;
    /* background-color: #ffffff; */
    background-color: #f8f8f8;
    color: var(--blue-color);
    font-family: Gotham;
    text-transform: uppercase;
    text-align: center;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0px 3px 5px 0px rgba(0, 1, 1, 0.2);
    border: none;
}


.login-box {
    min-width: 350px;
    min-height: 250px;
    margin: 20px auto;
    padding: 15px 48px;
    /* background-color: #ffffff; */
    background-color: #f8f8f8;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0px 3px 5px 0px rgba(0, 1, 1, 0.2);
    border: none;
    
}

.loginbox__row {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.login-box__title {
    padding: 10px;
    font-size: 22px;
    text-align: center;
    font-family: sans-serif;
    color: #383838;
}

.login-box__item{
    /* padding: 20px; */
}

.login-box_text{
    color: rgb(95, 97, 97);
    text-transform: lowercase;
    font-family: sans-serif;
    font-size: 15px;
}

.btn__sign-in {
    margin: 10px auto;

}

@media screen and (max-width:992px) {
    .bcg {
        width: 100%;
        min-height: 500px;
        background-color: #b83e3e;

    }

}

@media screen and (max-width:576px) {
    .bcg {
        width: 100%;
        min-height: 500px;
        background-color: #813eb8;
    }
}