<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Music Downloader</title>
</head>
<body class="bcg">
<div class="bcg">
    <h2 class="bigtitle">Music Downloader</h2>
    <div id="content">
        <fieldset>
            <legend>Введите название композиции</legend>
            <form name="musicTrack" action="search" method="post">
                <input type="text" id="trackName" name="trackName"/><br/>
                <br>
                <input type="submit" value="Поиск"/>
            </form>
        </fieldset>
        <br/>
        <br>
    </div>
</div>
</body>
</html>
