<!--<#import "/spring.ftl" as spring/>-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <link rel="stylesheet" href="/css/style.css">-->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Music Downloader</title>
</head>
<body>

<h2 class="bigtitle">Music Downloader</h2>
<div id="content">
    <fieldset>
        <legend>Введите название композиции</legend>
        <form name="musicTrack" action="search" method="post">
            <input type="text" id="trackName" name="trackName"/><br/>
            <br>
            <input type="submit" value="Поиск"/>
        </form>
    </fieldset>
    <br/>
    <br>
    <h3 th:text="${mainPageMessage}"></h3>
    <table class="datatable">
        <tr>
            <th>№</th>
            <th>Name</th>
        </tr>
        <tr class="itemlist" th:each="musicTrack:${playlist}">
            <td th:text="${playlist.indexOf(musicTrack)+1}"></td>
            <td class="trackname" th:text="${musicTrack.getName()}"></td>
            <td>
                <audio controls>
                    <source th:src="${musicTrack.getUrl()}" src="">
                    Тег audio не поддерживается вашим браузером. <a th:href="${musicTrack.getUrl()}">Скачайте музыку</a>
                </audio>
            </td>
            <td><a href="#" th:href="${musicTrack.getUrl()}" th:download="${musicTrack.getUrl()}">DOWNLOAD</a></td>
        </tr>
    </table>
</div>
</body>
</html>
